streamlit
tensorflow
numpy 
matplotlib
pandas
langchain_community
pypdf
langchain_chroma 



langchain_openai
transformers 
sentence-transformers
langchain 
torch 
faiss-cpu  
Library 
configurati
faiss-cpu
requests 
beautifulsoup4
PyMuPDF
jq
tf-keras
langchain-huggingface